/* Overrides of metro css */
span.icon img {
    margin: auto !important;
}

.ribbon-menu .tabs-holder {
    background-color: white !important;
}

.design_preview_submenu {
    white-space: nowrap;
    padding-right: 17px;
    text-align: left;
}

.design_preview_submenu:first-of-type {
    background-position-x: 0;
    background-repeat: no-repeat;
    background-position-y: center;
}


/* start of theme selector style */
#design_themes_panel_holder {
    position: absolute;
    border: 1px solid;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 290px;
    width: 360px;
}

#design_themes_panel_holder>div {
    display: flex;
    width: 337px;
    flex-direction: row;
    flex-wrap: wrap;
}

.design_themes_panels {
    width: 70px;
    height: 50px;
    border: 1px solid;
    margin: 7px;
}

.design_themes_panels:hover {
    box-shadow: 1px 1px 3px 3px rgb(71 114 255);
}

.design_themes_panels span {
    position: relative;
    top: 2px;
    left: -9px;
    font-size: 21px;
}

.design_themes_panels_divider {
    width: 400px;
    height: 9px;
    margin: 7px;
    text-align: left;
}

/* End of theme selector style */



#quiz_types_panel,
#quiz_types_panel_2 {
    width: 479px;
    display: flex;
    flex-wrap: wrap;
}

#quiz_types_panel>div,
#quiz_types_panel_2>div {
    background-color: rgb(71, 114, 255);
    position: relative;
}

.quiz_types:hover {
    opacity: 0.9;
}

.tooltip_pic {
    display: none;
    position: absolute;
    z-index: 2;
    max-width: 1000%;
    transform: translate(69px, -38px);
}

#insert_shape_panel {
    width: 100px;
}

#insert_shape_panel>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shape_icon:hover {
    opacity: 0.84;
}

#insert_shape_panel>div>div {
    background-color: rgb(71, 114, 255);
}

.insert_audio {
    background-position-x: 0;
    background-repeat: no-repeat;
    background-position-y: center;
}

.introduction_slide:hover {
    opacity: 0.84;
}

.form_view_home_link {
    white-space: nowrap;
    padding-right: 17px;
    text-align: left;
    background-position-x: 0;
    background-repeat: no-repeat;
    background-position-y: center;
}

.view_switch_btn {
    user-select: none;
    background-color: #f7f7f7;
    border: 1px solid #bcbcbc;
}

.view_switch_btn.clicked {
    background-color: #fbd8be;
    border: 1px solid #ea9166;
}

.form_view,
.slide_view {
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    width: 130px;
    text-align: right;
    padding-right: 13px;
}

.layout_panel_img_holder {
    display: flex;
    background-color: rgb(71, 114, 255);
}

.layout_panel_img_holder>img:hover {
    opacity: 0.84;
}

.layout_panel_divider {
    width: 700px;
    text-align: left;
    border-bottom: 1px solid gainsboro;
    font-weight: 700;
}

.list_divider {
    height: 1px !important;
    border-bottom: 1px dotted gray !important;
    margin-left: 26px !important;
}

.ribbon-menu .content-holder .group .group-divider {
    background-color: transparent !important;
}

.ribbon-menu .content-holder .group .title {
    border: none !important;
}

.dropdown-toggle::after {
    visibility: hidden;
}


/* start of quick styler css */
#quick_styles_panel_holder {
    position: absolute;
    border: 1px solid;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 436px;
    width: 444px;
}

#quick_styles_panel_holder>div {
    display: flex;
    width: 440px;
    flex-direction: row;
    flex-wrap: wrap;
}

#quick_styles_panel_holder>div>div:hover {
    background-color: rgb(71, 114, 255);
}

.quick_style_sample {
    width: 40px;
    height: 40px;
    border: 1px solid;
    margin: 11px;
    border-radius: 10px;
}

.quick_style_sample span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 13px;
    transform: translate(-50%, -50%);
}

/* End of quick styler css */

.arrange_panel_list_divider {
    border-bottom: 1px solid #e7e7e7 !important;
}

#arrange_ul>li {
    width: 130px;
    text-align: left;
}

.arrange_ul_ul {
    border: 1px solid #dadbdc;
    background: #fbfcfd;
    padding-left: 0;
    transform: translate(107px, -26px);
    width: 182px;
    display: none;
}

.arrange_ul_ul>li {
    width: 180px;
    text-align: left;
}

#arrange_li_align:hover .arrange_ul_ul {
    display: block;
}

#arrange_li_rotate:hover .arrange_ul_ul {
    display: block;
}

.subtitle_li {
    padding-left: 0 !important;
    font-weight: bold !important;
}

.subtitle_li:hover {
    border-color: transparent !important;
    background-color: transparent !important;
}

.section {
    height: 100%;
}
